<nav>
  <ul class="nav">
    <li class="<%=active.main%>">
      <a href="/">Home</a>
    </li>
    <li class="<%=active.users%>">
      <a href="/users">Users</a>
    </li>
    <li class="<%=active.jobs%>">
      <a href="/jobs">Jobs</a>
    </li>
    <li class="<%=active.gallery%>">
      <a href="/gallery">Gallery</a>
    </li>
    <li class="<%=active.contacts%>">
      <a href="/contacts">Contacts</a>
    </li>
    <li class="<%=active.posts%>">
      <a href="/posts">Posts</a>
    </li>
  </ul>
</nav>
